LottoStuff/packages/xunit.runner.console.2.4.1/tools/netcoreapp2.0/xunit.runner.reporters.netcoreapp10.dll
LottoStuff/packages/xunit.runner.console.2.4.1/tools/netcoreapp2.0/xunit.console.runtimeconfig.json
LottoStuff/packages/xunit.runner.console.2.4.1/tools/netcoreapp2.0/xunit.console.dll.config
LottoStuff/packages/xunit.runner.console.2.4.1/tools/netcoreapp2.0/xunit.console.dll
LottoStuff/packages/xunit.runner.console.2.4.1/tools/netcoreapp2.0/xunit.console.deps.json
LottoStuff/packages/xunit.runner.console.2.4.1/tools/netcoreapp2.0/xunit.abstractions.dll
LottoStuff/packages/xunit.runner.console.2.4.1/tools/netcoreapp1.0/xunit.runner.utility.netcoreapp10.xml
LottoStuff/packages/xunit.runner.console.2.4.1/tools/netcoreapp1.0/xunit.runner.utility.netcoreapp10.dll
LottoStuff/packages/xunit.runner.console.2.4.1/tools/netcoreapp1.0/xunit.runner.reporters.netcoreapp10.dll
LottoStuff/packages/xunit.runner.console.2.4.1/tools/netcoreapp1.0/xunit.console.runtimeconfig.json
LottoStuff/packages/xunit.extensibility.execution.2.4.1/xunit.extensibility.execution.2.4.1.nupkg
LottoStuff/packages/xunit.extensibility.execution.2.4.1/lib/netstandard1.1/xunit.execution.dotnet.xml
LottoStuff/packages/xunit.extensibility.execution.2.4.1/lib/netstandard1.1/xunit.execution.dotnet.dll
LottoStuff/packages/xunit.extensibility.execution.2.4.1/lib/net452/xunit.execution.desktop.xml
LottoStuff/packages/xunit.extensibility.execution.2.4.1/lib/net452/xunit.execution.desktop.dll
LottoStuff/packages/xunit.extensibility.execution.2.4.1/.signature.p7s
LottoStuff/packages/xunit.extensibility.core.2.4.1/xunit.extensibility.core.2.4.1.nupkg
LottoStuff/packages/xunit.extensibility.core.2.4.1/lib/netstandard1.1/xunit.core.xml
LottoStuff/packages/xunit.extensibility.core.2.4.1/lib/netstandard1.1/xunit.core.dll
LottoStuff/packages/xunit.extensibility.core.2.4.1/lib/net452/xunit.runner.utility.net452.dll
LottoStuff/packages/xunit.2.4.1/.signature.p7s
LottoStuff/LottoStuff/obj/Debug/LottoStuff.csproj.CoreCompileInputs.cache
LottoStuff/LottoStuff/obj/Debug/LottoStuff.csproj.CopyComplete
LottoStuff/LottoStuff/bin/Debug/xunit.runner.visualstudio.testadapter.dll
LottoStuff/LottoStuff/bin/Debug/xunit.runner.utility.net452.dll
LottoStuff/LottoStuff/bin/Debug/xunit.runner.reporters.net452.dll
LottoStuff/LottoStuff/bin/Debug/xunit.execution.desktop.xml
LottoStuff/LottoStuff/bin/Debug/xunit.execution.desktop.dll
LottoStuff/LottoStuff/bin/Debug/xunit.core.xml
LottoStuff/LottoStuff/bin/Debug/xunit.core.dll
LottoStuff/LottoStuff/bin/Debug/xunit.assert.xml
LottoStuff/LottoStuff/bin/Debug/xunit.assert.dll
LottoStuff/LottoStuff/bin/Debug/xunit.abstractions.dll
LottoStuff/packages/xunit.runner.console.2.4.1/tools/net471/xunit.console.exe
LottoStuff/packages/xunit.runner.console.2.4.1/tools/net471/xunit.abstractions.dll
LottoStuff/packages/xunit.runner.console.2.4.1/tools/net47/xunit.runner.utility.net452.dll
LottoStuff/packages/xunit.runner.console.2.4.1/tools/net47/xunit.runner.reporters.net452.dll
LottoStuff/packages/xunit.runner.console.2.4.1/tools/net47/xunit.console.x86.exe.config
LottoStuff/packages/xunit.runner.console.2.4.1/tools/net47/xunit.console.x86.exe
LottoStuff/packages/xunit.runner.console.2.4.1/tools/net47/xunit.console.exe.config
LottoStuff/packages/xunit.runner.console.2.4.1/tools/net47/xunit.console.exe
LottoStuff/packages/xunit.runner.console.2.4.1/tools/net47/xunit.abstractions.dll
LottoStuff/packages/xunit.runner.console.2.4.1/tools/net462/xunit.runner.utility.net452.dll
LottoStuff/packages/xunit.runner.console.2.4.1/tools/net462/xunit.runner.reporters.net452.dll
LottoStuff/packages/xunit.runner.console.2.4.1/tools/net462/xunit.console.x86.exe.config
LottoStuff/packages/xunit.runner.console.2.4.1/tools/net462/xunit.console.x86.exe
LottoStuff/packages/xunit.analyzers.0.10.0/tools/uninstall.ps1
LottoStuff/packages/xunit.analyzers.0.10.0/tools/install.ps1
LottoStuff/packages/xunit.analyzers.0.10.0/analyzers/dotnet/cs/xunit.analyzers.dll
LottoStuff/packages/xunit.analyzers.0.10.0/.signature.p7s
LottoStuff/packages/xunit.abstractions.2.0.3/xunit.abstractions.2.0.3.nupkg
LottoStuff/packages/xunit.abstractions.2.0.3/lib/netstandard2.0/xunit.abstractions.xml
LottoStuff/packages/xunit.abstractions.2.0.3/lib/netstandard2.0/xunit.abstractions.dll
LottoStuff/packages/xunit.abstractions.2.0.3/lib/netstandard1.0/xunit.abstractions.xml
LottoStuff/packages/xunit.abstractions.2.0.3/lib/netstandard1.0/xunit.abstractions.dll
LottoStuff/packages/xunit.abstractions.2.0.3/lib/net35/xunit.abstractions.xml
LottoStuff/packages/xunit.abstractions.2.0.3/lib/net35/xunit.abstractions.dll
LottoStuff/packages/xunit.abstractions.2.0.3/.signature.p7s
LottoStuff/packages/xunit.2.4.1/xunit.2.4.1.nupkg
LottoStuff/packages/xunit.runner.visualstudio.2.4.1/xunit.runner.visualstudio.2.4.1.nupkg
LottoStuff/packages/xunit.runner.visualstudio.2.4.1/build/uap10.0/xunit.runner.visualstudio.uwp.testadapter.pri
LottoStuff/packages/xunit.runner.visualstudio.2.4.1/build/uap10.0/xunit.runner.visualstudio.uwp.testadapter.dll
LottoStuff/packages/xunit.runner.visualstudio.2.4.1/build/uap10.0/xunit.runner.visualstudio.targets
LottoStuff/packages/xunit.runner.visualstudio.2.4.1/build/uap10.0/xunit.runner.visualstudio.props
LottoStuff/packages/xunit.runner.visualstudio.2.4.1/build/uap10.0/xunit.runner.utility.uwp10.pri
LottoStuff/packages/xunit.runner.visualstudio.2.4.1/build/uap10.0/xunit.runner.utility.uwp10.dll
LottoStuff/packages/xunit.runner.console.2.4.1/tools/netcoreapp1.0/xunit.abstractions.dll
LottoStuff/packages/xunit.runner.console.2.4.1/tools/net472/xunit.runner.utility.net452.dll
LottoStuff/packages/xunit.runner.console.2.4.1/tools/net472/xunit.runner.reporters.net452.dll
LottoStuff/packages/xunit.runner.console.2.4.1/tools/net472/xunit.console.x86.exe.config
LottoStuff/packages/xunit.runner.console.2.4.1/tools/net472/xunit.console.x86.exe
LottoStuff/packages/xunit.runner.console.2.4.1/tools/net472/xunit.console.exe.config
LottoStuff/packages/xunit.runner.console.2.4.1/tools/net472/xunit.console.exe
LottoStuff/packages/xunit.runner.console.2.4.1/tools/net472/xunit.abstractions.dll
LottoStuff/packages/xunit.runner.console.2.4.1/tools/net471/xunit.runner.utility.net452.dll
LottoStuff/packages/xunit.runner.console.2.4.1/tools/net471/xunit.runner.reporters.net452.dll
LottoStuff/packages/xunit.runner.console.2.4.1/tools/net471/xunit.console.x86.exe.config
LottoStuff/packages/xunit.runner.console.2.4.1/tools/net471/xunit.console.x86.exe
LottoStuff/packages/xunit.runner.console.2.4.1/tools/net471/xunit.console.exe.config
LottoStuff/packages/xunit.runner.console.2.4.1/tools/net462/xunit.console.exe.config
LottoStuff/packages/xunit.runner.console.2.4.1/tools/net462/xunit.console.exe
LottoStuff/packages/xunit.runner.console.2.4.1/tools/net46/xunit.console.x86.exe
LottoStuff/packages/xunit.runner.console.2.4.1/tools/net46/xunit.console.exe.config
LottoStuff/packages/xunit.extensibility.core.2.4.1/lib/net452/xunit.core.dll
LottoStuff/packages/xunit.extensibility.core.2.4.1/.signature.p7s
LottoStuff/packages/xunit.core.2.4.1/xunit.core.2.4.1.nupkg
LottoStuff/packages/xunit.core.2.4.1/buildMultiTargeting/xunit.core.targets
LottoStuff/packages/xunit.core.2.4.1/buildMultiTargeting/xunit.core.props
LottoStuff/packages/xunit.core.2.4.1/build/xunit.core.targets
LottoStuff/packages/xunit.core.2.4.1/build/xunit.core.props
LottoStuff/packages/xunit.core.2.4.1/.signature.p7s
LottoStuff/packages/xunit.assert.2.4.1/xunit.assert.2.4.1.nupkg
LottoStuff/packages/xunit.assert.2.4.1/lib/netstandard1.1/xunit.assert.xml
LottoStuff/packages/xunit.assert.2.4.1/lib/netstandard1.1/xunit.assert.dll
LottoStuff/packages/xunit.assert.2.4.1/.signature.p7s
LottoStuff/packages/xunit.analyzers.0.10.0/xunit.analyzers.0.10.0.nupkg
LottoStuff/packages/xunit.runner.console.2.4.1/tools/net46/xunit.console.exe
LottoStuff/packages/xunit.runner.console.2.4.1/tools/net46/xunit.abstractions.dll
LottoStuff/packages/xunit.runner.console.2.4.1/tools/net452/xunit.runner.utility.net452.dll
LottoStuff/packages/xunit.runner.console.2.4.1/tools/net452/xunit.runner.reporters.net452.dll
LottoStuff/packages/xunit.extensibility.core.2.4.1/lib/net452/xunit.runner.tdnet.dll
LottoStuff/packages/xunit.extensibility.core.2.4.1/lib/net452/xunit.core.xml
LottoStuff/packages/xunit.extensibility.core.2.4.1/lib/net452/xunit.core.dll.tdnet
LottoStuff/packages/xunit.runner.visualstudio.2.4.1/build/netcoreapp1.0/xunit.runner.utility.netcoreapp10.xml
LottoStuff/packages/xunit.runner.visualstudio.2.4.1/build/netcoreapp1.0/xunit.runner.utility.netcoreapp10.dll
LottoStuff/packages/xunit.runner.visualstudio.2.4.1/build/netcoreapp1.0/xunit.runner.reporters.netcoreapp10.dll
LottoStuff/packages/xunit.runner.visualstudio.2.4.1/build/netcoreapp1.0/xunit.abstractions.dll
LottoStuff/packages/xunit.runner.visualstudio.2.4.1/build/net20/xunit.runner.visualstudio.props
LottoStuff/packages/xunit.runner.visualstudio.2.4.1/build/_common/xunit.runner.visualstudio.testadapter.dll
LottoStuff/packages/xunit.runner.visualstudio.2.4.1/build/_common/xunit.runner.utility.net452.dll
LottoStuff/packages/xunit.runner.visualstudio.2.4.1/build/_common/xunit.runner.reporters.net452.dll
LottoStuff/packages/xunit.runner.visualstudio.2.4.1/build/_common/xunit.abstractions.dll
LottoStuff/packages/xunit.runner.visualstudio.2.4.1/.signature.p7s
LottoStuff/packages/xunit.runner.console.2.4.1/xunit.runner.console.2.4.1.nupkg
LottoStuff/packages/xunit.runner.console.2.4.1/tools/netcoreapp2.0/xunit.runner.utility.netcoreapp10.xml
LottoStuff/packages/xunit.runner.console.2.4.1/tools/netcoreapp2.0/xunit.runner.utility.netcoreapp10.dll
LottoStuff/packages/xunit.runner.console.2.4.1/tools/net461/xunit.runner.reporters.net452.dll
LottoStuff/packages/xunit.runner.console.2.4.1/tools/net461/xunit.console.x86.exe.config
LottoStuff/packages/xunit.runner.console.2.4.1/tools/net461/xunit.console.x86.exe
LottoStuff/packages/xunit.runner.console.2.4.1/tools/net461/xunit.console.exe.config
LottoStuff/packages/xunit.runner.console.2.4.1/tools/net461/xunit.console.exe
LottoStuff/packages/xunit.runner.console.2.4.1/tools/net461/xunit.abstractions.dll
LottoStuff/packages/xunit.runner.console.2.4.1/tools/net46/xunit.runner.utility.net452.dll
LottoStuff/packages/xunit.runner.console.2.4.1/tools/net46/xunit.runner.reporters.net452.dll
LottoStuff/packages/xunit.runner.console.2.4.1/tools/net452/xunit.console.x86.exe.config
LottoStuff/packages/xunit.runner.console.2.4.1/tools/net452/xunit.console.x86.exe
LottoStuff/packages/xunit.runner.console.2.4.1/tools/net452/xunit.console.exe.config
LottoStuff/packages/xunit.runner.console.2.4.1/tools/net452/xunit.console.exe
LottoStuff/packages/xunit.runner.console.2.4.1/tools/net452/xunit.abstractions.dll
LottoStuff/packages/xunit.runner.console.2.4.1/build/xunit.runner.console.props
LottoStuff/packages/xunit.runner.console.2.4.1/.signature.p7s
LottoStuff/packages/xunit.runner.console.2.4.1/tools/net462/xunit.abstractions.dll
LottoStuff/packages/xunit.runner.console.2.4.1/tools/net461/xunit.runner.utility.net452.dll
LottoStuff/packages/xunit.runner.console.2.4.1/tools/net46/xunit.console.x86.exe.config
LottoStuff/.vs/LottoStuff/v15/Server/sqlite3/storage.ide-wal
LottoStuff/.vs/LottoStuff/v15/Server/sqlite3/storage.ide-shm
LottoStuff/.vs/LottoStuff/v15/Server/sqlite3/storage.ide
LottoStuff/.vs/LottoStuff/v15/Server/sqlite3/db.lock
LottoStuff/.vs/LottoStuff/v15/.suo
LottoStuff/packages/xunit.runner.visualstudio.2.4.1/build/uap10.0/xunit.runner.reporters.netstandard11.dll
LottoStuff/packages/xunit.runner.visualstudio.2.4.1/build/netcoreapp1.0/xunit.runner.visualstudio.props
LottoStuff/packages/xunit.runner.visualstudio.2.4.1/build/netcoreapp1.0/xunit.runner.visualstudio.dotnetcore.testadapter.dll
LottoStuff/packages/xunit.runner.visualstudio.2.4.1/build/netcoreapp1.0/xunit.runner.visualstudio.dotnetcore.testadapter.deps.json
LottoStuff/packages/xunit.runner.console.2.4.1/tools/netcoreapp1.0/xunit.console.dll.config
LottoStuff/packages/xunit.runner.console.2.4.1/tools/netcoreapp1.0/xunit.console.dll
LottoStuff/packages/xunit.runner.console.2.4.1/tools/netcoreapp1.0/xunit.console.deps.json
LottoStuff/LottoStuff/obj/Debug/LottoStuff.csprojAssemblyReference.cache
